.on{
    width: 400px;
    height: 60px;
    margin: 10px 30px 30px 50px ;
    font-size: 40px;
    

}
.mm{
    width: 200px;
    height: 60px;
    margin: 10px 30px 30px 60px ; 
    font-size: 30px; 
    background-color:rgb(167, 209, 211);
}
body{
    /* background-color: aquamarine;*/
     background-image: url('127-134614-best-laptops-programmers-3.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
 }
 .n{
    margin-top: 150px;
    margin-left: 800px;
    padding: 10px;
    width: 500px;
    background-color: rgb(250, 250, 250);
    background-repeat: no-repeat;
    background-size: cover;
    /*border: double;*/
    border-radius: 5px;
}